@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-loop {
  opacity: 0;
  animation: hero-loop-animation 48s ease-in-out infinite both;
  animation-delay: 1s
}

.hero-mask {
  -webkit-mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .991) .8%, rgba(0, 0, 0, .967) 3%, rgba(0, 0, 0, .928) 6.5%, rgba(0, 0, 0, .876) 11.1%, rgba(0, 0, 0, .814) 16.8%, rgba(0, 0, 0, .743) 23.4%, rgba(0, 0, 0, .665) 30.7%, rgba(0, 0, 0, .581) 38.7%, rgba(0, 0, 0, .495) 47.1%, rgba(0, 0, 0, .406) 55.9%, rgba(0, 0, 0, .317) 64.8%, rgba(0, 0, 0, .231) 73.9%, rgba(0, 0, 0, .148) 82.8%, rgba(0, 0, 0, .07) 91.6%, transparent), linear-gradient(180deg, #000 0, #000);
  mask: linear-gradient(180deg, #000 0, rgba(0, 0, 0, .991) .8%, rgba(0, 0, 0, .967) 3%, rgba(0, 0, 0, .928) 6.5%, rgba(0, 0, 0, .876) 11.1%, rgba(0, 0, 0, .814) 16.8%, rgba(0, 0, 0, .743) 23.4%, rgba(0, 0, 0, .665) 30.7%, rgba(0, 0, 0, .581) 38.7%, rgba(0, 0, 0, .495) 47.1%, rgba(0, 0, 0, .406) 55.9%, rgba(0, 0, 0, .317) 64.8%, rgba(0, 0, 0, .231) 73.9%, rgba(0, 0, 0, .148) 82.8%, rgba(0, 0, 0, .07) 91.6%, transparent), linear-gradient(180deg, #000 0, #000);
  -webkit-mask-size: 100% 240px, 100% calc(100% - 240px);
  mask-size: 100% 240px, 100% calc(100% - 240px);
  -webkit-mask-position: bottom center, top center;
  mask-position: bottom center, top center;
  -webkit-mask-repeat: no-repeat, no-repeat;
  mask-repeat:no-repeat, no-repeat
}

@keyframes hero-loop {
  0%, 2.5% {
      opacity: 1;
      transform:rotate(0deg) scale(.9)
  }

  12.5%, 15% {
      transform:rotate(-45deg) scale(.9)
  }

  25%, 27.5% {
      transform:rotate(-90deg) scale(.9)
  }

  37.5%, 40% {
      transform:rotate(-135deg) scale(.9)
  }

  50%, 52.5% {
      transform:rotate(-180deg) scale(.9)
  }

  62.5%, 65% {
      transform:rotate(-225deg) scale(.9)
  }

  72.5%, 75% {
      transform:rotate(-270deg) scale(.9)
  }

  85%, 87.5% {
      transform:rotate(-315deg) scale(.9)
  }

  to {
      opacity: 1;
      transform:rotate(-1turn) scale(.9)
  }0%, 2.5% {
      opacity: 1;
      transform: rotate(0deg) scale(0.9)
  }
}

.shadow {
  --tw-shadow:0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a)
}

.shadow, .shadow-2xl {
  box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.shadow-2xl {
  --tw-shadow:0 25px 50px -12px var(--tw-shadow-color, #00000040)
}

.shadow-border {
  --tw-shadow:var(--shadow-border)
}

.shadow-border, .shadow-high {
  box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.shadow-high {
  --tw-shadow:var(--shadow-high)
}

.shadow-inner {
  --tw-shadow:var(--shadow-inner)
}

.shadow-inner, .shadow-low {
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.shadow-low {
  --tw-shadow:var(--shadow-low)
}

.shadow-mid {
  --tw-shadow:var(--shadow-mid)
}

.shadow-mid, .shadow-outer {
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.shadow-outer {
  --tw-shadow:var(--shadow-outer)
}

.shadow-sm {
  --tw-shadow:0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a)
}

.shadow-sm, .shadow-xl {
  box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow:0 20px 25px -5px var(--tw-shadow-color, #0000001a), 0 8px 10px -6px var(--tw-shadow-color, #0000001a)
}

.shadow-black\/10 {
  --tw-shadow-color:#0000001a
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.shimmer-text {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 2s ease-in;
}